*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_de_fundo: #7c7474;
}
.nav, .img_logo, .links, .lista_links{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    width: 100%;
    justify-content: space-between;
    background-color: var(--cor_de_fundo);
}
.img_logo img{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
.lista_links li, .lista_links a, .lista_links ul{
    text-decoration: none;
    list-style-type: none;
    color: yellow;
}
#search_bar{
    margin-left: 20px;
    height: 30px;
    width: 300px;
    border-color:var(--cor_de_fundo);
    border-radius: 10px;
}
.lista_links{
    margin-right: 50px;
    font-size: 20px;
}
.lista_links li{
    margin-left: 30px;
    transition: 0.7s;
    border-radius: 10px;

}
.lista_links li:hover{
    background-color: #423838;
}
.inicio{
    text-align: center;
    height: 230px;
    width: 70%;
    transform: translateX(22%);
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/564x/e5/e6/86/e5e6868627617ed14691b956cfc76c59.jpg);
}
.guias{
    margin-top: 10px;
    width: 97%;
    height: 300px;
    overflow: scroll;
    background-color: #998585;
    margin-left: 1.5%;
    transition: 1.5s ease-in-out;
}
.guias:hover{
    transform: scale(1,1.2);
    box-shadow: 0px 10px 50px 5px black;
}
.guia_cont img{
    height: 200px;
    width: 200px;
}
.lista_cont{
    padding-left: 10px;
    margin-top: 10px;
    display: inline-flex;
}
.guia_cont{
    margin-right: 10px;
}
.img_cont{
    transition: 1.5s ease-in-out;
    border-radius: 10px;
}
.img_cont:hover{
    transform: scale(1,1.25);
    box-shadow: 2px 5px 30px 3px rgba(53, 50, 53, 0.781);
}
.lista_produtos{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*
    O grid templete columns esta repetindo quantas vezes necessárias para se encaixar definindo a largura das colunas, falando que elas devem ter
    no minimo 300px e no máximo 1fr (o  espaço maximo disponivel)
    */
}
.produtos_cont{
    background-color: rgba(214, 184, 184, 0.747);
}
.produtos{
    margin-top: 20px;
}
.produtos_cont img{
    height: 200px;
    width: 170px;
    margin-top: 10px;
    margin-left: 18%;
    border-radius: 10px;
}
.desc, .produtos_cont h3{
    text-align: center;
}
.desc a{
    text-decoration: none;
    background-image: linear-gradient(150deg, #467c49 0, #bccf09 70%);
    border-radius: 10px;
    color: rgb(45, 16, 114);
    font-size: 20px;
    transition: 0.5s;
    margin-top: 10px;
}
.desc a:hover{
    color: pink;
}
.seemore_button{
    margin-top: 10px;
}
.contatos{
    background-color: var(--cor_de_fundo);
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 50px;
}
.links_contatos {
    font-size: 200%;    
    color: #644b07;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.links_contatos i{
    margin-left: 10px;
}
.links_contatos a{
    color: inherit;
    transition: 0.5s;
}
.links_contatos a:hover{
    color: #1b1502;
}
@media only screen and (max-width: 838px){
    .nav,.img_logo{
        flex-direction: column;
    }
    .inicio{
        background-repeat: repeat-x;
        color: yellowgreen;
    }
    .logo_pesquisa{
        margin-top: 10px;
    }
    .lista_links{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .lista_links li{
        margin-left: 20px;
    }
    .produtos_cont img{
        margin-left: 30%;
    }
}