html{
    scroll-behavior: smooth;
}
.navbar{
    flex-direction: row;
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.coisas{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
}
li{
    padding-left: 10px;
}
.logo{
    justify-content: left;
    color: white;
}
.coisas a{  
    text-decoration: none;
    color: white;
    border-radius: 10px;
        transition: 0.9s;
}
.coisas a:hover{
    background-color: rgb(168, 37, 48);
}
#pedido_form{
    border-radius: 10px;
    border-color: red;
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    color: whitesmoke;
}
form{
    width: 40%;

}
.nome{
    color: red;
    text-align: center;
}
.pizzas{
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}
.preco{
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
}
.imagens_pizzas{
    border-radius: 10px;
    height: 175px;
    width: 190px;
}
.inputs{
    border-radius: 10px;
    border-color: red;
}
.enviar{
    margin-top: 10px;
}
#enviar:hover{
    background-color: rgb(255, 106, 25);
    transition: 0.9s;
}
.contato{
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%); 
    border-radius: 10px;
    color: white;
}


.pessoas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.lista_contato{
    list-style-type: none;
}
.produtos, .novidades{
    background-color: whitesmoke;
}
.email{
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.email:hover{
    background-color:  rgb(168, 37, 48);
    transition: 0.9s;
}
.logo{
    font-style: italic;
}
.navegadores{
    padding-left: 10px;
}

#legenda_pedido{
    color: white;

    
}
.descricao{
    color: slategrey;
}
.produto_pizza{
    width: 20%;
}
/*Ve se isso resolve pra colocar um espacamento */
/*.produto-primeiro{
    margin-top: 50px;
}    */
.pizzas p{
    padding-left: 10px;
}
.novidades{
    color: slategrey;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
}
.novidades h1{
    color: black;
}
.recomendados{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    margin-top: 10px;
    border: 5px solid red;
    transform: translateX(60%);
    overflow: hidden;
    
}
.slider{
    display: inline-flex;
   flex-direction: row;
   transition: 0.5s;
}
.cont{
    width: 600px;
    height: 300px;
    color: slategray;
}
.guia{
    height: 3px;
    width: 291.64px;
    background-color: slategray;
    transform: translateX(35%);
    display: inline-flex;
    flex-direction: row; 
    border-radius: 50px;
}
#active{
    background-color: white;
    width: 58.33px;
    height: 5px;
    border-radius: 10px;
    transform: translateX(-190px);
    transition: 0.5s;
}
#p1,#p2,#p3,#p4,#p5{
    width: 58.33px;
    height: 3px;
    cursor: pointer;
}
.encaixe{
    transform: translateY(-20px);
    width: 420px;
}
.img_slider img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.img_slider{
    margin-left: 10px;
}
.pizza_rec{
    display: inline-flex;
}
.texto_pizza_slider{
    margin-left: 20px;
    margin-top: -19px;
    width: 350px;
}
.nome_pizza{
    text-align: center;
}
.botoes{
    display: grid;
    grid-template-areas: "preco preco" "info comprar";
    grid-template-columns: 50% 50%;
}
.preco_slider{
    grid-area: preco;
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    border-radius: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
}
.comprar_slider{
    grid-area: info;
    margin-right: 10px;
}
.more_info{
    margin-left: 10px;
}
.comprar_slider, .more_info{
    margin-top: 10px;
    background-image: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
    border-radius: 50px;
    text-align: center;
}
.comprar_slider a, .more_info a{
    color: white;
    text-decoration: none;
}