html{
    scroll-behavior: smooth;
}
:root{
    --gradiente: linear-gradient(130deg,#ff9259 0,#ff2426 70%);
}
.navbar{
    flex-direction: row;
    background-image: var(--gradiente);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.coisas{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
}
li{
    padding-left: 10px;
}
.logo{
    justify-content: left;
    color: white;
}
.coisas a{  
    text-decoration: none;
    color: white;
    border-radius: 10px;
        transition: 0.9s;
}
.coisas a:hover{
    background-color: rgb(168, 37, 48);
}

form{
    width: 40%;

}
.nome{
    color: red;
    text-align: center;
}
.pizzas{
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}
.preco{
    background-image: var(--gradiente);
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
}
.imagens_pizzas{
    border-radius: 10px;
    height: 175px;
    width: 190px;
}


.contato{
    background-image: var(--gradiente); 
    border-radius: 10px;
    color: white;
}


.pessoas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.lista_contato{
    list-style-type: none;
}
.produtos, .novidades{
    background-color: whitesmoke;
}
.email{
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.email:hover{
    background-color:  rgb(168, 37, 48);
    transition: 0.9s;
}
.logo{
    font-style: italic;
}
.navegadores{
    padding-left: 10px;
}

#legenda_pedido{
    color: white;

    
}
.descricao{
    color: slategrey;
}
.produto_pizza{
    width: 20%;
}
/*Ve se isso resolve pra colocar um espacamento */
/*.produto-primeiro{
    margin-top: 50px;
}    */
.pizzas p{
    padding-left: 10px;
}
.novidades{
    color: slategrey;
    border: 5px solid red;
    border-radius: 10px;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
}
.novidades h1{
    color: black;
}
.recomendados{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    margin-top: 10px;
    border: 5px solid red;
    transform: translateX(60%);
    overflow: hidden;
}
.slider{
    display: inline-flex;
   flex-direction: row;
   transition: 0.5s;
}
.cont{
    width: 600px;
    height: 300px;
    color: slategray;
}
.guia{
    height: 3px;
    width: 291.64px;
    background-color: slategray;
    transform: translateX(35%);
    display: inline-flex;
    flex-direction: row; 
    border-radius: 50px;
}
#active{
    background-color: white;
    width: 58.33px;
    height: 5px;
    border-radius: 10px;
    transform: translateX(-190px);
    transition: 0.5s;
}
#p1,#p2,#p3,#p4,#p5{
    width: 58.33px;
    height: 3px;
    cursor: pointer;
}
.encaixe{
    transform: translateY(-20px);
    width: 420px;
}
.img_slider img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.img_slider{
    margin-left: 10px;
}
.pizza_rec{
    display: inline-flex;
}
.texto_pizza_slider{
    margin-left: 20px;
    margin-top: -19px;
    width: 350px;
}
.nome_pizza{
    text-align: center;
}
.botoes{
    display: grid;
    grid-template-areas: "preco preco" "info comprar";
    grid-template-columns: 50% 50%;
}
.preco_slider{
    grid-area: preco;
    background-image: var(--gradiente);
    border-radius: 50px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
}
.comprar_slider{
    grid-area: info;
    margin-right: 10px;
}
.more_info{
    margin-left: 10px;
}
.comprar_slider, .more_info{
    margin-top: 10px;
    background-image: var(--gradiente);
    border-radius: 50px;
    text-align: center;
}
.comprar_slider a, .more_info a{
    color: white;
    text-decoration: none;
}
#pedir{
    background-image: var(--gradiente);
    width: 300px;
    text-align: center;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border-color: unset;
    border-style: unset;
    transition: 0.5s ease;
}
#formulario_pedido{
    width: 700px;
    position: fixed;
    display: none;
    height: 530px;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    border: 3px solid red;
    filter: blur(0);
}
#tudo{
    transition: 0.5s linear;
    background-image: url(background.png);
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
i.fa-shopping-bag{
    margin-bottom: 10px;
}
#pedir:hover{
    color: #c57b0c;
}
.content h2{
    text-align: center;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    justify-content: space-between;
}
.listaPizzas{
    width: 400px;
    border-radius: 20px;
    border: 3px solid red;
    height: 400px;
    display: grid;
    gap: 3px;
    grid-auto-rows: 233.3333px;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    /*Esta falando para repetir quantas vezes for necessário para se encaixar com um minimo de 144px
    e com um máximo de todo o espaço disponível na linha (é responsivo desse jeito, então se diminuir o tamanho vai se adaptar)*/
    overflow: scroll;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.pedirForm form .formulario_content{
    margin-top: 10px;
    display: flex;
    width: 700px;
    margin-left: 10px;
}
.clienteInfo{
    margin-left: 30px;
    border-radius: 20px;
    border: 3px solid red;
    width: 300px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
}
.clienteInfo table{
    width: 300px;
}
.imgForm img{
    border-radius: 20px;
    height: 150px;
    width: 144px;
}
.imgForm{
    margin: auto;
}
.conteudoPedido{
    text-align: center;
}
.submit{
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.submit input{
    border-radius: 20px;
    background-image: var(--gradiente);
    border-style: unset;
    margin-left: 5px;
    width: 120px;
    height: 30px;
    color: white;
    transition: 0.5s ease-in-out;
}
.submit input:hover{
    color: yellow;
}
form table input, form table select{
    border-radius: 20px;
    border: 3px groove black;
}
.confirmarPedido{
    display: none;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    border: 3px solid red;
    position: fixed;
    margin: auto;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 400px;
}   
#formulario_pedido{
    z-index: 1;
}
