*{
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
}
body{
    background-image: url(towe\ of\ god-\ prêmio-crunchyroll.png);
    height: 100%;
}
.navegacao h1{
    font-style: italic;
}
.navegacao{
    background-color: #1355e4a9;
    height: 75px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.navegacao ul, .navegacao{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navegacao ul li{
    margin-right: 50px;
}
.navegacao ul{
    margin-right: -120px;
}
.logo img{
    width: 70px;
    height: 70px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: -180px;
}
.logo img:hover{
    background-color:  #0a296da9;
    transition: 0.5s;
}
.sidebar{
    width: 150px;
    background-color: #081738a9;
    height: 100%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}